Repository SuperTux/supertux, pull requests merged in 2019-11, with the labels that each got.

#1199 Credits Menu Revamp
  data/credits.stxt
  data/levels/misc/credits.stl
  data/levels/misc/info
  src/object/textscroller.cpp
  src/object/textscroller.hpp
  src/supertux/game_session.cpp
  src/supertux/menu/main_menu.cpp
  src/supertux/sector.cpp
Labels: status:needs-work

#1206 Tilegroup and objectgroup tweaks
  data/images/engine/editor/objects.stoi
  data/images/tiles.strf
Labels: involves:editor

#1214 Revamp all sign designs
  data/images/tiles/signs/color_cyan.png
  data/images/tiles/signs/color_yellow.png
  data/images/tiles/signs/danger.png
  data/images/tiles/signs/down.png
  data/images/tiles/signs/icehold.png
  data/images/tiles/signs/left.png
  data/images/tiles/signs/leftdown.png
  data/images/tiles/signs/leftup.png
  data/images/tiles/signs/needrock.png
  data/images/tiles/signs/platform.png
  data/images/tiles/signs/platform_wood.png
  data/images/tiles/signs/right.png
  data/images/tiles/signs/rightdown.png
  data/images/tiles/signs/rightup.png
  data/images/tiles/signs/run.png
  data/images/tiles/signs/sign-base.png
  data/images/tiles/signs/trampoline.png
  data/images/tiles/signs/up.png
Labels: category:design

#1213 Small improvements to icy island
  data/levels/world1/castle_cutscene.nut
  data/levels/world1/castle_cutscene.stl
  data/levels/world1/castle_of_nolok.stl
  data/levels/world1/frosted_fields.stl
  data/levels/world1/ice_in_the_hole.stl
  data/levels/world1/intro.nut
  data/levels/world1/intro.stl
  data/levels/world1/living_inside_fridge.stl
  data/levels/world1/more_snowballs.stl
  data/levels/world1/worldmap.stwm
  data/levels/world1/yeti_boss.stl
  data/levels/world1/yeti_cutscene.nut
  data/levels/world1/yeti_cutscene.stl
Labels: category:design, category:levels
