Repository SuperTux/supertux, pull requests merged in 2023-03, with the labels that each got.

#2402 Expose "get_action()" function for Player
  src/object/player.cpp
  src/object/player.hpp
  src/scripting/player.cpp
  src/scripting/player.hpp
  src/scripting/wrapper.cpp
Labels: type:feature, category:code, involves:scripting, status:needs-review

#2354 Add keys and locked doors
  data/images/engine/editor/objects.stoi
  data/images/objects/keys/key_silver.png
  data/images/particles/sparkle-2.png
  data/images/particles/sparkle.sprite
  src/object/key.cpp
  src/object/key.hpp
  src/object/player.cpp
  src/object/player.hpp
  src/object/sprite_particle.cpp
  src/object/sprite_particle.hpp
  src/supertux/game_object_factory.cpp
  src/trigger/door.cpp
  src/trigger/door.hpp
Labels: status:in-progress, type:feature, category:code

#2404 Add "Tux.get_bonus()" to squirrel API.
  src/object/player.cpp
  src/object/player.hpp
  src/scripting/player.cpp
  src/scripting/player.hpp
  src/scripting/wrapper.cpp
Labels: type:feature, category:code, involves:scripting

#2373 Fix partial ungrab listener problem (segfault)
  src/object/player.hpp
Labels: category:code, type:bugfix
