Repository SuperTux/supertux, pull requests merged in 2023-09, with the labels that each got.

#2559 Scared Gold Bomb
  data/images/creatures/gold_bomb/flee-0.png
  data/images/creatures/gold_bomb/flee-1.png
  data/images/creatures/gold_bomb/flee-2.png
  data/images/creatures/gold_bomb/flee-3.png
  data/images/creatures/gold_bomb/flee-4.png
  data/images/creatures/gold_bomb/flee-5.png
  data/images/creatures/gold_bomb/flee-6.png
  data/images/creatures/gold_bomb/flee-7.png
  data/images/creatures/gold_bomb/gold_bomb.sprite
  data/images/creatures/gold_bomb/scared-0.png
  data/images/creatures/gold_bomb/scared-1.png
  data/images/creatures/gold_bomb/scared-10.png
  data/images/creatures/gold_bomb/scared-11.png
  data/images/creatures/gold_bomb/scared-2.png
  data/images/creatures/gold_bomb/scared-3.png
  data/images/creatures/gold_bomb/scared-4.png
  data/images/creatures/gold_bomb/scared-5.png
  data/images/creatures/gold_bomb/scared-6.png
  data/images/creatures/gold_bomb/scared-7.png
  data/images/creatures/gold_bomb/scared-8.png
  data/images/creatures/gold_bomb/scared-9.png
  src/badguy/goldbomb.cpp
  src/badguy/goldbomb.hpp
  src/badguy/haywire.cpp
  src/badguy/haywire.hpp
Labels: involves:functionality, type:feature, category:code, category:design, status:needs-review

#2605 Fix loading of blend mode and draw target of horizontal gradients + always save colours as top and bottom
  src/object/gradient.cpp
Labels: category:code, status:needs-review, type:bugfix

#2599 Worldmap support for adding objects through scripting
  src/scripting/game_object_manager.cpp
  src/scripting/game_object_manager.hpp
  src/scripting/sector.cpp
  src/scripting/sector.hpp
  src/scripting/wrapper.cpp
  src/supertux/game_object_factory.cpp
  src/supertux/game_object_manager.cpp
  src/supertux/game_object_manager.hpp
  src/supertux/sector_base.cpp
  src/supertux/sector_base.hpp
  src/worldmap/worldmap_sector.cpp
  src/worldmap/worldmap_sector.hpp
Labels: type:feature, category:code, involves:scripting, status:needs-review

#2493 Update several icons + update missing texture
  data/images/engine/editor/README
  data/images/engine/editor/ambient_light.png
  data/images/engine/editor/ambientsound.png
  data/images/engine/editor/background.png
  data/images/engine/editor/bicycleplatform.png
  data/images/engine/editor/camera.png
  data/images/engine/editor/circeplatform.png
  data/images/engine/editor/climbable.png
  data/images/engine/editor/clock.png
  data/images/engine/editor/clouds.png
  data/images/engine/editor/decal.png
  data/images/engine/editor/fallplatform.png
  data/images/engine/editor/flyingplatform.png
  data/images/engine/editor/ghostparticles.png
  data/images/engine/editor/heavy_coin.png
  data/images/engine/editor/hurtingplatform.png
  data/images/engine/editor/hurtplatform.png
  data/images/engine/editor/infoblock.png
  data/images/engine/editor/invisible_wall.png
  data/images/engine/editor/music.png
  data/images/engine/editor/objects.stoi
  data/images/engine/editor/particle.png
  data/images/engine/editor/particle_file.png
  data/images/engine/editor/particle_zone.png
  data/images/engine/editor/pneumaticplatform.png
  data/images/engine/editor/rain.png
  data/images/engine/editor/resetpoint.png
  data/images/engine/editor/scriptedobject.png
  data/images/engine/editor/scripttrigger.png
  data/images/engine/editor/secretarea.png
  data/images/engine/editor/selection.png
  data/images/engine/editor/sequencetrigger.png
  data/images/engine/editor/settings-mode0.png
  data/images/engine/editor/settings-mode1.png
  data/images/engine/editor/snow.png
  data/images/engine/editor/sparkle-file.png
  data/images/engine/editor/sparkle.png
  data/images/engine/editor/spawnpoint.png
  data/images/engine/editor/specialtile.png
  data/images/engine/editor/spritechange.png
  data/images/engine/editor/textarray.png
  data/images/engine/editor/textscroller.png
  data/images/engine/editor/thunderstorm.png
  data/images/engine/editor/wind.png
  data/images/engine/hud/badguy-icon.png
  data/images/engine/hud/coin-icon.png
  data/images/engine/hud/coins-0.png
  data/images/engine/hud/fire-0.png
  data/images/engine/hud/ice-0.png
  data/images/engine/hud/retro_coins-0.png
  data/images/engine/hud/secret-icon.png
  data/images/engine/hud/time-0.png
  data/images/engine/missing.png
  data/images/objects/bullets/fire-hud.png
  data/images/objects/bullets/ice-hud.png
  src/object/level_time.cpp
  src/supertux/player_status_hud.cpp
  src/supertux/statistics.cpp
  src/worldmap/special_tile.cpp
Labels: involves:editor, category:code, category:design, status:needs-review

#2625 Add `Level.has_active_sequence()` to scripting API.
  data/scripts/default.nut
  src/scripting/level.cpp
  src/scripting/level.hpp
  src/scripting/wrapper.cpp
  src/supertux/game_session.cpp
  src/supertux/game_session.hpp
Labels: type:feature, category:code, involves:scripting, status:needs-review

#2631 Raycast function returns what it hit
  src/collision/collision_system.cpp
  src/collision/collision_system.hpp
Labels: type:feature, category:code, status:needs-review

#2622 MacOS workflow: Install harfbuzz normally again
  .github/workflows/macos.yml
Labels: os:macos, status:needs-review, category:tests, type:bugfix
