Repository SuperTux/supertux, pull requests merged in 2023-12, with the labels that each got.

#2695 Fix `wait()` segfaulting on the worldmap.
  src/scripting/functions.cpp
Labels: category:code, involves:scripting, status:needs-review, type:bugfix

#2648 New Igel behavior + Corrupted Igel
  data/images/creatures/igel/corrupted/corrupted_igel.sprite
  data/images/creatures/igel/corrupted/roll-0.png
  data/images/creatures/igel/corrupted/roll-1.png
  data/images/creatures/igel/corrupted/roll-2.png
  data/images/creatures/igel/corrupted/roll-3.png
  data/images/creatures/igel/corrupted/roll-4.png
  data/images/creatures/igel/corrupted/roll-5.png
  data/images/creatures/igel/corrupted/roll_start-0.png
  data/images/creatures/igel/corrupted/roll_start-1.png
  data/images/creatures/igel/corrupted/roll_start-2.png
  data/images/creatures/igel/corrupted/roll_start-3.png
  data/images/creatures/igel/corrupted/walk-0.png
  data/images/creatures/igel/corrupted/walk-1.png
  data/images/creatures/igel/corrupted/walk-2.png
  data/images/creatures/igel/corrupted/walk-3.png
  data/images/creatures/igel/corrupted/walk-4.png
  data/images/creatures/igel/corrupted/walk-5.png
  data/images/creatures/igel/corrupted/walk-6.png
  data/images/creatures/igel/corrupted/walk-7.png
  data/images/creatures/igel/igel.sprite
  data/images/creatures/igel/roll_start-0.png
  data/images/creatures/igel/roll_start-1.png
  data/images/creatures/igel/roll_start-2.png
  data/images/creatures/igel/roll_start-3.png
  src/badguy/igel.cpp
  src/badguy/igel.hpp
Labels: type:feature, category:code, category:design, status:needs-review

#2678 Editor toolbox scrollbar, adjusted scroll speed
  src/editor/toolbox_widget.cpp
  src/editor/toolbox_widget.hpp
  src/interface/control_scrollbar.cpp
  src/interface/control_scrollbar.hpp
Labels: involves:editor, type:feature, category:code, status:needs-review

#2667 World-specific custom title screen levels
  CMakeLists.txt
  data/.gitignore
  data/images/engine/menu/logo.sprite
  data/images/engine/menu/logo_santahat.sprite
  data/images/objects/logo/logo.sprite
  data/images/objects/logo/logo_final.sprite
  data/levels/misc/menu.stl
  mk/cmake/SuperTux/BuildInstall.cmake
  src/audio/stream_sound_source.cpp
  src/audio/stream_sound_source.hpp
  src/object/music_object.cpp
  src/object/music_object.hpp
  src/scripting/functions.cpp
  src/scripting/functions.hpp
  src/scripting/worldmap_sector.cpp
  src/scripting/worldmap_sector.hpp
  src/scripting/wrapper.cpp
  src/supertux/game_manager.cpp
  src/supertux/game_session.cpp
  src/supertux/game_session.hpp
  src/supertux/gameconfig.cpp
  src/supertux/gameconfig.hpp
  src/supertux/main.cpp
  src/supertux/menu/editor_levelset_menu.cpp
  src/supertux/menu/language_menu.cpp
  src/supertux/menu/options_menu.cpp
  src/supertux/menu/options_menu.hpp
  src/supertux/menu/profile_menu.cpp
  src/supertux/menu/profile_menu.hpp
  src/supertux/player_status.cpp
  src/supertux/player_status.hpp
  src/supertux/profile.cpp
  src/supertux/profile.hpp
  src/supertux/savegame.cpp
  src/supertux/savegame.hpp
  src/supertux/title_screen.cpp
  src/supertux/title_screen.hpp
  src/supertux/world.cpp
  src/supertux/world.hpp
  version.h.in
Labels: type:feature, category:code, involves:scripting, status:needs-review

#2703 Remove boost references in some files
  flake.nix
  guix.scm
  mk/cmake/SuperTux/WarningFlags.cmake
Labels: status:needs-review
