Repository SuperTux/supertux, pull requests merged in 2023-04, with the labels that each got.

#2407 Add Camera.get_position/size to Squirrel API.
  src/object/camera.cpp
  src/object/camera.hpp
  src/scripting/camera.cpp
  src/scripting/camera.hpp
  src/scripting/wrapper.cpp
Labels: type:feature, category:code, involves:scripting

#2415 Fix compiler warning unqualified call to std::move
  src/editor/editor.cpp
  src/editor/layers_widget.cpp
  src/gui/menu_script.cpp
  src/supertux/menu/main_menu.cpp
Labels: category:code

#2423 GameObject type support
  src/badguy/crusher.cpp
  src/badguy/crusher.hpp
  src/badguy/dispenser.cpp
  src/badguy/dispenser.hpp
  src/badguy/mrtree.cpp
  src/badguy/mrtree.hpp
  src/badguy/stalactite.cpp
  src/badguy/stalactite.hpp
  src/badguy/viciousivy.cpp
  src/badguy/viciousivy.hpp
  src/badguy/walkingleaf.cpp
  src/badguy/walkingleaf.hpp
  src/object/moving_sprite.cpp
  src/object/moving_sprite.hpp
  src/object/particle_zone.cpp
  src/object/particle_zone.hpp
  src/supertux/game_object.cpp
  src/supertux/game_object.hpp
Labels: involves:editor, type:feature, category:code, status:needs-review, status:conditional

#2386 Store GameSession spawnpoints in a stack
  data/scripts/default.nut
  src/object/firefly.cpp
  src/object/firefly.hpp
  src/object/level_time.cpp
  src/object/player.cpp
  src/scripting/level.cpp
  src/scripting/level.hpp
  src/scripting/wrapper.cpp
  src/supertux/game_session.cpp
  src/supertux/game_session.hpp
  src/supertux/player_status.cpp
  src/supertux/player_status.hpp
Labels: involves:functionality, type:feature, category:code, involves:scripting, type:bugfix
